/* .list {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.image {
  border-radius: 10px;
}

.title {
  text-align: center;
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 15px;
}

.box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 15px;
} */

.list {
  display: flex;
  justify-content: center;
  gap: 25px;
  flex-wrap: wrap; 
  list-style: none;
  padding: 20px;
}


.card {
  /* background-color: #fff; */
  border-radius: 15px;
  padding: 20px;
  width: 320px;
  /* box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); */
  display: flex;
  flex-direction: column;
  gap: 15px;

}

.image {
  border-radius: 10px;
}

.title {
  text-align: center;
  margin: 10px 0;
  font-size: 18px;
  font-weight: bold;
}

.box {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  background-color: #f1f2f6;
  border-radius: 30px;
}

.span {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 13px;
}
